.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  max-width: 80%;
  width: 400px;
  position: relative;
  /* align-items:center; */
}

.modal ul {
padding-left: 20px; /* Add left padding to create space for bullets */
}
.close {
  /* position: absolute;
   bottom: 10px; 
   right: 10px;  */
  /* left: 50%; */
  /* cursor: pointer;*/
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: #2d5649;
  color: white; 
 text-align:center;
 width:25%;
 margin:auto;
 margin-top:10px;
}

h2 {
  margin-top: 0;
}
.comments-list {
list-style: none;
padding: 0;
}

.comment-item {
margin-bottom: 10px;
}

.comment-content {
font-weight: bold;
}